<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 250px;
      width: 650px;
      margin: auto;
    }
</style>
<script>
    
    let map;
    function initMap(data) {
        map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: new google.maps.LatLng(39.63232807214292, -86.12627698177913)
      });
        const marker = new google.maps.Marker({
          position: new google.maps.LatLng(39.63172807214292, -86.12527698177913),
          map: map,
        });

    }

</script>
<body>
  <div id="map"></div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ_MWwSZ9hUYlQjAVa0PiLUgzvJlYQYuQ&callback=initMap&libraries=&v=weekly"
    async
></script>

</body>