body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
    float: right;
    height: 400px;
    width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-65%);
}

.contact-info{
    font-size: 18px;
}

.del-add-cart{
    position: relative;
    top: -8px;
    left: 65px;
}

.not-auth{
  width: 400px;
  padding: 5px;
  border: 1px solid #333333;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.not-auth-body{
    float: right;
    text-align: center;
    position: relative;
    top: 65px;
    right: 40px;
}

.cart-nav-btn{
    width: 60px;
    color:none;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
}
